*{
    margin:0;
    padding:0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cabecalho{
    background-color: #401389;
    color: white;
    display: flex;
    justify-content: space-around;
}
.cabecalho-imagem{
    width: 20%;
    height: 10%;
    
}
.nre{
    background-image: linear-gradient(#401389,#D4C3EE);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.div-text-nre{
    width: 35% ;
}
.nre-texto{
    padding: 24px 0;
}
.nre-titulo{
    padding: 24px;
}
.nre-texto{
    padding: 40px;
    margin: 0px,;
}
.imagem-plataformas{
    width: 100px;
    padding: 12px;
}
.plataforma-icones{
    justify-content: center;
    width: 25px;
    padding: 12px;
}
.plataformas-icones-div{
    text-align: center;
    padding: 5px;
    justify-content: center;
}
.nre-texto-segunda{
    text-align: center;
    padding: 50px, 50px, 50px, 50px;
    justify-content: center;
}

.plataforma-todos{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
   }
.nre-texto-segunda{
    background-image: linear-gradient(#D4C3EE,#eae5f1);
}
.rodape{
    background-color: #401389;
}